body {
  font-family: Arial, sans-serif;
  background-color: #f5f5dc; /* beige */
  display: flex; /* Add this line */
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1; /* off white */
  position: sticky; /* Change from fixed to sticky */
  top:0;
  width: 20%; /* Reduce the width */
  height: 100vh; /* Add this line */
  z-index: 3;
}

.tab button {
  background-color: #f1f1f1; /* off white */
  display: block; /* Change from float to display */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 100%; /* Add this line */
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-left: none; /* Change from border-top to border-left */
  margin-left: 0;
  margin-right: 0;
  width: 80%; /* Add this line */
  overflow: auto; /* Add this line */
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black; /* Adjust as needed */
  padding: 10px; /* Adjust as needed */
  margin: 10px; /* Adjust as needed */
}

.product-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  z-index: 2;
}

.BGText {
  color: rgb(34, 139, 34, 0.35); /* forest green */
  font-weight: bold;
  font-size: 110px;
  position: fixed; /* Stay fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 300px;
  padding: 20px;
  text-align: center;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4caf50; /* green */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049; /* dark green */
}

#signature {
  font-size: small;
  text-align: right;
  color: #808080; /* gray */
}
