body {
  font-family: Arial, sans-serif;
  background-color: #f5f5dc; /* beige */
  display: flex; 
}

.button {
  align-items: center;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #04AA6D;
}

.button1:hover {
  background-color: #04AA6D;
  color: white;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1; /* off white */
  position: sticky; 
  top:0;
  width: 20%; 
  height: 100vh; 
  z-index: 3;
}

.tab button {
  background-color: #f1f1f1; /* off white */
  display: block; 
  border: 1px solid #ccc; 
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 100%; 
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-left: none; 
  margin-left: 0;
  margin-right: 0;
  width: 80%; 
  overflow: auto; 
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black; 
  padding: 10px; 
  margin: 10px; 
}

.product-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  z-index: 2;
}

.BGText {
  color: rgb(34, 139, 34, 0.35); /* forest green */
  font-weight: bold;
  font-size: 110px;
  position: fixed; 
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 300px;
  padding: 20px;
  text-align: center;
  animation: fade 3s infinite;
}

@keyframes fade {
  0% {opacity: 0.5;}
  50% {opacity: 0.5;}
  100% {opacity: 0.5;}
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4caf50; /* green */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049; /* dark green */
}

#signature {
  font-size: small;
  text-align: right;
  color: #808080; /* gray */
  position: fixed; 
  bottom: 0; 
  right: 0; 
}

